*{
    box-sizing:border-box;
} 

body{
    background-color: rgb(213, 221, 229);
}

html{
    font-size:1.3rem;
}

.container{
   width:50rem;
   height:auto;
   margin: 2rem auto;
   display:flex;
   flex-direction: column;
   gap:1rem;
}

.introduction{
    width:50rem;
    height:13rem;
    background-image:linear-gradient(108deg, rgb(7,34,64), rgb(11,49,88), rgb(95,155,189));
    color:#fff;
    border-radius:0.7rem;
}

.social-icons{
    width:35rem;
    height:auto;
    margin:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    cursor: pointer;
}

.fa-brands{
    font-size:2.5rem;
}

h1{
    font-size:3rem;
    text-align: center;
    padding-top:1rem;
    font-family: Helvetica;
}

.part1, .welcome, .membership, .occupation, .Hear{
    width:50rem;
    height:auto;
    background-color: #fff;
    border-radius:0.7rem;
    padding-left:1rem;
    padding-bottom:1rem;
}

hr{
    background-color: #2D547F;
    border:none;
    border-radius: 0.7rem 0.7rem 0 0;
    height:0.5rem;
    margin:0 0 0 -1rem;
}

h2{
    font-size: 2rem;
    margin-top:0.7rem;
}

.divider{
    width:100%;
    height:0.1rem;
    background-color: grey;
}

#required{
  color:#e24358;
  margin-top:0.3rem;
}

a{
    text-decoration: none;
}

a:active{
  color:blue;
}

a:visited{
 color:blue;
}

a:hover{
 color:#2D547F;
}
.respondent{
    font-weight: 600;
}

input[type="radio"]{
    display:inline;
    margin-bottom:1.5rem;
}

input[type="checkbox"]{
   transform:scale(2);
   margin-right:0.7rem;
} 

select{
    width:100%;
    height:1.3rem;
    border:0.7rem;
}

.question{
    margin-bottom:1rem;
}

.definition{
    width:50rem;
    height:auto;
    background-color: #fff;
    border-radius:0.7rem;
    padding-left:1rem;
}

.answers{
    width:50rem;
    height:auto;
    display:grid;
    grid-template-columns: repeat(6, 7.5rem);
    column-gap: 1rem;
}

.select input{
    width:1rem;
    margin-left: 1rem;
    margin-top:-2rem; 
}

.Done{
    width:50rem;
    height:0.7rem;
    margin:auto;
    margin-top: -2rem;
    margin-bottom: 3rem;
    display:grid;
    grid-template-columns: repeat(2, 10rem);
    column-gap: 21rem;
}
input[type="submit"]{
    width:8rem;
    height:2rem;
    font-size: 1rem;
    border:none;
    background-color:#309C3F;
    cursor: pointer;
    color:#fff
}

input[type="reset"]{
    width:8rem;
    height:2rem;
    font-size: 1rem;
    border:none;
    background-color: #e24358;
    color:#fff;
    cursor: pointer;
}

#duration, #role{
    transform:scale(1.5);
    margin-right: 1rem;
}

@media(max-width:750px){
     html{
        font-size: 2rem;
        background-color: #309C3F;
     }
     input[type="reset"]{
        width:16rem;
        height:5rem;
        font-size: 2rem;
    }
    input[type="submit"]{
        width:16rem;
        height:5rem;
        font-size: 2rem;
    }
}   


